@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=EB+Garamond:wght@500&family=Kumbh+Sans&family=Plus+Jakarta+Sans:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #244034;
  padding-top: 100px;
}

svg {
  user-select: none;
}

.mobileNavOpen {
  overflow: hidden;
  /* background-color: red; */
  /* position: fixed; */
  /* position: absolute;
  inset: 0; */
}

.selected {
  transform: scale(1.25);
}

.card {
  height: 244px;
  background-color: #ffffff;
  border-radius: 70px;
  border: 1px solid transparent;
}

.card:hover {
  background-color: #d2f34c;
  cursor: pointer;
  border: 1px solid #b9d640;
}

.expertsCard {
  height: 400px;
  width: 280px;
  background-color: #d9d9d9;
  border-radius: 200px;
  border: 1px solid transparent;
}

.expertsCard:hover {
  background-color: #d2f34c;
  cursor: pointer;
  border: 1px solid #b9d640;
}

.clientCard {
  height: 530px;
  width: 100%;
  background-color: #f9ffe1;
  border-radius: 30px;
  border: 1.6px solid #000000;
  padding: 30px 50px;
}

.clientCard:hover {
  background-color: #d2f34c;
  cursor: pointer;
}

.collaborationBtn {
  background-color: transparent;
  text-transform: capitalize;
  width: fit-content;
}

.collaborationBtn:hover {
  background-color: transparent;
  color: blue;
}

.btn {
  @apply px-4 py-2 rounded-full font-medium text-black bg-color-one hover:bg-color-one/30 hover:border-black border-2 border-transparent;
}

.wrapper {
  @apply max-w-[1365px] w-[95%] m-auto;
}

.navWrapper {
  @apply max-w-[1600px] w-[100%] m-auto px-6;
}

.jobPostLabel {
  @apply font-body text-sm text-black;
}

@layer base {
  h1 {
    @apply font-title;
  }

  h2 {
    @apply text-5xl xl:text-7xl font-title text-color-title;
  }

  h3 {
    @apply font-body text-color-title;
  }

  p {
    @apply font-body font-normal text-base text-color-body;
  }

  label {
    @apply font-body text-sm text-color-gray;
  }

  input::placeholder,
  input {
    @apply font-body text-[#00000080];
  }

  textarea {
    @apply resize-none font-body border-2;
  }

  @layer components {
    .textShadow {
      text-shadow: #244034 1px 1px 5px;
    }
  }

  button {
    @apply px-4 py-2 rounded-full font-medium text-black bg-color-one 
    hover:bg-color-one/30 hover:border-black border-2 border-transparent;
  }
}

/* ReactQuill Stylings */

div.ql-container.ql-snow {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.no-border div.ql-container.ql-snow {
  border: none;
}
