@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=EB+Garamond:wght@500&family=Kumbh+Sans&family=Plus+Jakarta+Sans:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

section {
  overflow: hidden;
}

svg {
  user-select: none;
}

.mobileNavOpen {
  overflow: hidden;
}

.selected {
  transform: scale(1.25);
}

.card {
  height: 244px;
  background-color: #ffffff;
  border-radius: 70px;
  border: 1px solid transparent;
}

.card:hover {
  background-color: #d2f34c;
  cursor: pointer;
  border: 1px solid #b9d640;
}

.clientCard {
  width: 100%;
  background-color: #f9ffe1;
  border-radius: 30px;
  border: 1.6px solid #000000;
}

.clientCard:hover {
  background-color: #d2f34c;
  cursor: pointer;
}

.collaborationBtn {
  background-color: transparent;
  text-transform: capitalize;
  width: fit-content;
}

.collaborationBtn:hover {
  background-color: transparent;
  color: #000000;
  text-shadow: none;
  text-decoration: underline;
}

.secondaryButton {
  background-color: #31795a;
  border-radius: 6px;
  color: white;
}

.secondaryButton:hover {
  background-color: #96ca5b;
}

.firstPageStyle {
  border: #00000050 1px solid;
  margin: 0px 16px 0px 0px;
}

.lastPageStyle {
  border: #00000050 1px solid;
  margin: 0px 0px 0px 16px;
}

.lastPageStyle:hover,
.firstPageStyle:hover {
  background-color: #d2f34c;
  color: #000000;
  text-shadow: none;
}

body {
  @apply pt-[50px] tablet:pt-[100px] bg-color-background;
}

.btn {
  @apply px-4 py-2 rounded-full font-medium text-black bg-color-one hover:bg-color-one/30 hover:border-black border-2 border-transparent;
}

.linkButton {
  @apply w-fit px-6 py-2 mt-10 bg-color-one rounded-full hover:bg-color-secondary hover:text-white hover:textShadow focus:bg-color-secondary focus:text-white focus:textShadow;
}

.wrapper {
  @apply max-w-[1365px] w-[95%] m-auto;
}

.navWrapper {
  @apply max-w-[1600px] w-[100%] m-auto px-6;
}

.jobPostLabel {
  @apply font-body text-sm text-black;
}

.navbarLi {
  @apply pb-2 border-b-transparent hover:border-color-one border-b-2 transition-all ease-linear duration-100 cursor-pointer hover:text-color-one p-3;
}

.customFile {
  @apply border-2 rounded-md hover:cursor-pointer;
}

input[type='file']::file-selector-button {
  @apply rounded-sm hover:cursor-pointer mr-4 border-none bg-color-one hover:bg-color-secondary hover:text-white hover:textShadow py-4;
}

label input#file-upload-button {
  @apply bg-red-500;
}
@layer base {
  h1 {
    @apply font-title;
  }

  h2 {
    @apply text-5xl xl:text-7xl font-title text-color-title;
  }

  h3 {
    @apply font-body text-color-title;
  }

  p {
    @apply font-body font-normal text-base text-color-body;
  }

  footer ul a {
    @apply focus:outline-color-background focus:px-2 focus:py-1 w-fit focus:shadow-lg focus:text-color-light-text hover:text-color-light-text relative;
  }

  footer ul a:hover::after {
    @apply content-[''];
    @apply bg-black w-full h-[2px] absolute -bottom-2 left-0 rounded-full;
  }

  label {
    @apply font-body text-sm text-color-gray;
  }

  input::placeholder,
  input {
    @apply font-body text-base;
  }

  input::placeholder {
    @apply text-[#00000080];
  }

  textarea {
    @apply resize-none font-body border-2;
  }

  @layer components {
    .textShadow {
      text-shadow: #244034 1px 1px 5px;
    }

    .removeTextShadow {
      text-shadow: #24403400 0px 0px 0px;
    }
  }

  button {
    @apply px-4 py-2 rounded-full font-medium text-black bg-color-one hover:bg-color-secondary hover:text-white focus:bg-color-secondary focus:text-white hover:textShadow;
  }

  .clientCard {
    @apply h-[530px] phone:py-[30px] phone:px-[50px] py-[15px] px-[20px];
  }
}

/* ReactQuill Stylings */

div.ql-container.ql-snow {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text-area div.ql-editor {
  height: 300px;
}

.no-border div.ql-container.ql-snow {
  border: none;
}

/* Salary Slider Stylings */
input[type='range'] {
  --thumb-color: #b9d640;
  --track-color: #ffffff;
  height: 5px;
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #b9d640;
  margin-top: -8px; /* adjust thumb position */
}

input[type='range']::-webkit-slider-runnable-track {
  height: 5px;
  background: linear-gradient(
    to right,
    var(--thumb-color) 0%,
    var(--thumb-color) var(--thumb-percent),
    var(--track-color) var(--thumb-percent),
    var(--track-color) 100%
  );
  border-radius: 25px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--thumb-color);
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin-top: -8px; /* adjust thumb position */
}

input[type='range']::-moz-range-track {
  height: 5px;
  background: linear-gradient(
    to right,
    var(--thumb-color) 0%,
    var(--thumb-color) var(--thumb-percent),
    var(--track-color) var(--thumb-percent),
    var(--track-color) 100%
  );
  border-radius: 25px;
  cursor: pointer;
}

button.react-multiple-carousel__arrow--left,
button.react-multiple-carousel__arrow--right {
  @apply bg-red-500;
}
