@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=EB+Garamond:wght@500&family=Kumbh+Sans&display=swap');

body {
  background-color: #244034;
  padding-top: 100px;
}

svg {
  user-select: none;
}

body.mobileNavOpen {
  overflow: hidden;
  /* background-color: red; */
}

.selected {
  transform: scale(1.25);
}

.card {
  height: 244px;
  background-color: #ffffff;
  border-radius: 70px;
  border: 1px solid transparent;
}

.card:hover {
  background-color: #d2f34c;
  cursor: pointer;
  border: 1px solid #b9d640;
}

.btn {
  @apply px-4 py-2 rounded-full font-medium text-black bg-color-one hover:bg-[#00BF58];
}

.wrapper {
  @apply max-w-[1365px] w-[95%] m-auto;
}

.navWrapper {
  @apply max-w-[1600px] w-[100%] m-auto px-6;
}

@layer base {
  li {
    /* @apply p-3; */
  }

  h2 {
    @apply text-5xl xl:text-7xl font-title;
  }

  @layer components {
    .textShadow {
      text-shadow: #244034 1px 1px 5px;
    }
  }

  button {
    @apply px-4 py-2 rounded-full font-medium text-black bg-color-one 
    hover:bg-[#00BF58];
  }
}
